<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Items</title>
</head>
<body>
    <div>
        <h3>Welcome to this hotel</h3>
        <ul>
            <li><%=listing.title%></li>
            <li>&#8377;<%=listing.price.toLocaleString("en-IN")%></li>
            <li><%=listing.location%></li>
            <li><%=listing.country%></li>
        </ul>
        <a href="/listings/<%=listing._id%>/edit">Edit this</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button>Delete</button>
        </form>
    </div>
</body>
</html>